@font-face {
  font-family: "iconfont"; /* Project id 1110926 */
  src: url('iconfont.woff2?t=1626762862244') format('woff2'),
       url('iconfont.woff?t=1626762862244') format('woff'),
       url('iconfont.ttf?t=1626762862244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e651";
}

.icon-add-more:before {
  content: "\e680";
}

.icon-liebiao:before {
  content: "\e62b";
}

.icon-shoucang:before {
  content: "\e75f";
}

.icon-unie601:before {
  content: "\e6cf";
}

.icon-weibiaoti1:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e6e0";
}

